/* Reset some default margins for consistency */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d1117;
    color: #c9d1d9;
}

a {
    color: #58a6ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#navigation {
    flex: 0 0 240px; /* This gives the navigation a fixed width of 240px */
    overflow-y: auto; /* Scrollable if content exceeds the height */
    padding-right: 20px; /* Some spacing between navigation and content */
    border-right: 1px solid #30363d; /* A border to separate navigation from content */
}

#content {
    flex: 1; /* This allows the content to take up the remaining space */
    padding-left: 20px; /* Some spacing between content and navigation */
    max-width: 100%; /* Ensures content doesn't overflow its container */
}

#about {
    margin-top: 20px;
    font-size: 0.8em;
    color: #8b949e;
}

#product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#product_logo {
    width: 50px;
    height: 50px;
    background-color: #30363d;
    border-radius: 50%;
    margin-right: 20px;
}

#product_name {
    flex: 1;
}

#product_description {
    flex: 2;
    font-size: 0.9em;
    color: #8b949e;
}
